@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.left-cstm{
    left: calc(50% - 12.5rem) !important;
}

#term {
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    background-color: #333;
    padding-inline-start: 2.5rem !important;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#term:focus {
    border-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bg-333{
    background-color: #333;
}

.bg-222{
    background-color: #222;
}

.bg-111{
    background-color: #111;
}

.h-9\/10{
    height: 90%;
    max-height: 90%;
    overflow: scroll;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    color: #333;
    background-color: white;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.text-mute{
    color: #666;
    font-size: 11pt;
}

.ml-18{
    margin-left: 4.5rem;
}

.ml-1\/10{
    margin-left: 10%;
}

.ml-f-1\/4{
    margin-left: calc(75% / 2);
}

.ml-f-3\/4{
    margin-left: calc(25% / 2);
}

.btn:hover {
    background-color: #d5d5d5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:active {
    background-color: #bababa;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.acc {
    display: inline-flex;
    float: right;
    gap: 0.2rem;
}

main{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  img.track {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  input[type="range"]#seek-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
    background: #ccc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }

  @media screen and (max-width: 768px){
    input[type="range"]#seek-bar {
        width: 12rem !important;
      }
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
    background: transparent;
  }
  
  input[type="range"]::-ms-thumb {
    width: 0;
    height: 0;
    background: transparent;
  }

  .flex-2{
    flex: 2;
  }

  input[type="range"].vert {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: none;
    width: 8px;
    height: 8rem;
    background: #000 !important;
    border-radius: 4px;
    animation: volumeAnim 700ms ease-in-out;
}

.bottom-34{
    bottom: 8.5rem;
}

input[type="range"].vert::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #222;
    border: #222;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"].vert::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #222;
    border: #222;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"].vert::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #222;
    border: #222;
    border-radius: 50%;
    cursor: pointer;
}
  
  @media screen and (max-width: 1280px) {
    .tsm {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1920px) {
    .sm {
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }
}

@keyframes volumeAnim {
    0%{
        height: 0;
    }
    100%{
        height: 8rem;
    }
}

@keyframes volumeBgAnim {
    0%{
        top: -0.5rem;
    }
    100%{
        height: -9rem;
    }
}

.g::before{
    animation: volumeBgAnim 700ms ease-in-out;
}

.g:hover::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -9rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    background: #cbcbcb;
    border-radius: 30px;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  
  .overflow-scroll {
    overflow: auto;
  }  