@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.left-cstm{
    left: calc(50% - 12.5rem) !important;
}

.ov{
    overflow-x: wrap;
}

.f1 {
    flex: 2 !important;
}

.f2 {
    flex: 3 !important;
}

.f3 {
    flex: 6 !important;
}

.f4 {
    flex: 7 !important;
}

main {
    display: flex !important;
    height: 90vh;
}

/* section {
    border: red solid 3px;
} */

#term {
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    background-color: #333;
    padding-inline-start: 2.5rem !important;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#term:focus {
    border-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bg-333{
    background-color: #333;
}

.bg-222{
    background-color: #222;
}

.bg-111{
    background-color: #111;
}

.h-9\/10{
    height: 90%;
    max-height: 90%;
    overflow: scroll;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    color: #333;
    background-color: white;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.text-mute{
    color: #666;
    font-size: 11pt;
}

.ml-18{
    margin-left: 4.5rem;
}

.ml-1\/10{
    margin-left: 10%;
}

.ml-f-1\/4{
    margin-left: calc(75% / 2);
}

.ml-f-3\/4{
    margin-left: calc(25% / 2);
}

.btn:hover {
    background-color: #d5d5d5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:active {
    background-color: #bababa;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.acc {
    display: inline-flex;
    float: right;
    gap: 0.2rem;
}
  
  img.track {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  input[type="range"]#seek-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
    background: #ccc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }

  @media screen and (max-width: 768px){
    input[type="range"]#seek-bar {
        width: 12rem !important;
      }
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
    background: transparent;
  }
  
  input[type="range"]::-ms-thumb {
    width: 0;
    height: 0;
    background: transparent;
  }

  .flex-2{
    flex: 2;
  }

.bottom-34{
    bottom: 8.5rem;
}
  
  @media screen and (max-width: 1280px) {
    .tsm {
        flex-direction: column;
    }
}

.sm {
    flex-direction: column;
    columns: 1;
    width: 100%;
}
@media screen and (min-width: 900px) {
    .sm {
        align-items: center;
    }
}

.like-anim{
    animation: like 500ms ease-in-out;
}

.scroll:hover p {
    animation: scrollText 3.5s linear infinite alternate;
}

@keyframes like {
    0%{
        width: 1.25rem;
        height: 1.25rem;
    }
    50%{
        width: 1.5rem;
        height: 1.5rem;
    }
    100%{
        width: 1.25rem;
        height: 1.25rem;
    }
}

@keyframes scrollText {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  
  .overflow-scroll {
    overflow: auto;
  }  